/*
* @Author: Administrator
* @Date:   2017-07-30 11:26:31
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-30 11:35:15
*/

.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}